* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

/* Header Styles */
.App-header {
  background-color: #282c34;
  color: white;
}

.logo {
  padding: 20px 25px;
  font-size: 44px;
  width: 20%;
  cursor: pointer;
}

nav {
  display: flex;
  background-color: #282c34;
  color: #fff;
}

.nav__menu {
  display: flex;
  justify-content: center;
  width: 60%;
}

.nav__item {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* article style */
.articles {
  display: flex;
}
.show__article {
  width: 60%;
}
.card__articles {
  width: 40%;
  height: 758px;
  overflow-y: auto;
}
.article__container {
  margin: 40px 0 40px 40px;
  background-color: #eee;
  padding: 30px 50px;
  border-radius: 20px;
  transition: all .5s;
  box-shadow: 1px 1px 15px 5px #888;
  height: 618px;
  overflow-y: auto;
}
.article__container:hover {
  transition: all .5s;
  box-shadow: 1px 1px 15px 5px #888;
}
.article__title {
  display: flex;
  font-size: 32px;
}
.edit__btn-section {
  width: 100%;
  text-align: end;
}
.edit__btn {
  font-size: 20px;
}
.pencil__icon {
  width: 20px;
  height: 20px;
}
.authers__name {
  text-align: end;
  padding-top: 20px;
}
.article__content {
  font-size: 18px;
  padding-top: 30px;
  letter-spacing: 1px;
  word-spacing: 15px;

}
.card__container {
  height: 260px;
  cursor: pointer;
  padding: 30px;
  margin: 40px;
}
.card__title, .card__name{
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.card__name {
  margin-left: 100px;
}
.card__content {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  overflow: hidden;
}

/* comment section styles */
.comment__btn-section {
  display: flex;
  padding: 30px 0;
}
.comment__placeholder {
  display: inline-block;
  font-size: 18px;
  background-color: #eee;
  padding: 8px 15px;
  border: none;
  border-bottom: 1px solid #282c34;
  outline: none;
  width: 80%;
}
.comment__placeholder:focus-visible {
  outline: none;
}
.comment__btn {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  background-color: #eee;
  padding: 8px 15px;
  border-radius: 10px;
  width: 20%;
}
.comment__title {
  font-size: 32px;
  border-bottom: 2px solid #000;
  display: inline-block;
}
.comment__container {
  display: flex;
  margin: 20px 0;
}
.user__icon {
  height: 50px;
  width: 50px;
}
.comment__content {
  line-height: 25px;
  letter-spacing: 1px;
  word-spacing: 5px;
  padding: 20px;
  background-color: #ddd;
  border-radius:0 20px 20px;
  margin-left: 10px;
}

/* Footer Styles */
.footer {
  height: 100px;
  width: 100%;
  background-color: #282c34;
}
.footer__logo{
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 27px;
}

/* model styles */
.modalBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./components/new-article-bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modalContainer {
  width: 800px;
  height: 590px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  opacity: .6;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}


/* New Article style */
.new-article {
  padding: 50px;
  border-radius: 20px;
  color: #000;
  margin: auto 0;
}
.Article__heading {
  text-align: center;
}
.article__lable {
  display: block;
  font-size: 20px;
  margin-top: 15px;
}
.article__input {
  display: block;
  width: 100%;
  height: 30px;
}
.article__textarea {
  height: 120px !important;
  display: block;
  width: 100%
}
.article__submit {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
}
input[type="text"], textarea[type="text"] {
  font-size: 18px;
  padding: 10px;
}


/* login style */
.login__background {
  /* background-color: #444; */
  background-image: url("./components/login-bg.jpg") !important;
  width: 100%;
  height: 100%;
}
.login__Container {
  width: 800px;
  height: 480px;
  border-radius: 0;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -48%);
}
.login__content {
  text-align: center;
  padding: 10px 150px;
}
.user__icon-login {
  height: 150px;
  width: 150px;
  margin-bottom: 25px;
}
.login__input {
  width: 93%;
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #222;
}


